body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

#episode-list {
    padding: 20px;
}

#episodes {
    list-style-type: none;
    padding: 0;
}

#episodes li {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
